/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header styles */
.header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 200px;
    height: 150px;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-bar button {
    padding: 5px 10px;
    background-color: #666;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
}

/* Main content styles */
.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.blog-preview {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.blog-preview img {
    max-width: 100%;
    height: auto;
}

/* Footer styles */
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

input[type="text"],
input[type="file"],
input[type="date"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    resize: vertical;
}

.navigation ul {
    list-style: none;
    display: flex;
    margin-left: auto;
}

.navigation li {
    margin-right: 20px;
}

.navigation a {
    text-decoration: none;
    color: #666;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s;
}

.navigation a:hover {
    color: #020202;
}